
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*


#ignore thumbnails created by windows
[Tt]humbs.db

#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.csproj.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.bak.*
*.cache
*.[Cc]ache
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
*.swp
*.vssscc
*.vspscc
*.dbmdl
*.DS_Store
*.sln.docstates

obj/
[Oo]bj
bin/
[Bb]in

[Dd]ebug*/
[Rr]elease*/

_Resharper*/
_ReSharper*/
_ReSharper.*
_ReSharper.*/
*.resharper
*.resharper.user
*.dotCover


NDependOut*/

[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml

Ankh.NoLoad
